& {
    // background-color: $main_color;
    min-height: 100vh;
    background-image: url('../assets/img/home_bg_img.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;

    @include until($desktop) {
        // max-width: 2rem;
    }
}
.home-main__content {   
    background-color: $main_color;
    width: 36.25rem;
    max-width: 100%;
    border-radius: 5px;
    padding: 4rem 2rem;

    @include until($desktop) {
        padding: 1rem;
    }
}

.home-main__content-box {
    // max-width: 25rem;
}

.home-main__container {
    height: 100%;
    width: 100%;
}

.home-main__content {
    &-header {
        font-size: 2.75rem;
        font-weight: 700;
        position: relative;

        @include until($desktop) {
            font-size: 1.5rem;
        }
    }
    &-text {
        font-size: 1.875rem;
        font-weight: 700;
        margin-top: 2rem;
        line-height: 1.2;

        @include until($desktop) {
            font-size: 1.2rem;
        }
    }
    &-breaker {
        height: 4px;
        background-color: $color_default;
    }
}