& {
    padding-bottom: 2rem;
}

.doctor__head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.doctor__photo-box {
    margin-bottom: 0;
    margin-right: 2rem;
}

.doctor__photo-wrapper {
    width: 50%;
}

.doctor__name {
    font-size: 1.5rem;
    font-weight: 700;
    width: 50%;

    @include until($desktop) {
        font-size: 1.2rem;
    }
}

.doctor__container {
    max-width: 48rem;
    margin: 0 auto;
}

@include phone-until{

}

@include from($tablet) {

}

@include until($desktop) {

}

@include from($desktop) {

}

@include from($fullhd) {

}