{% extends "base.html" %}
{% block content %}
<section class="s__home-main">
    <div class="l-container-big home-main__container">
        <div class="home-main__content">
            <div class="home-main__content-box">
                <h1 class="home-main__content-header animated fadeInDown">
                    Klinika dla psów
                </h1>
                <div class="home-main__content-breaker"></div>
                <div class="home-main__content-text animated fadeInUp">
                    Zaufaj naszemu wieloletniemu doświadczeniu
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}