{% extends "base.html" %}
{% block content %}
<section class="c__breadcrumb"></section>
<section class="s__login">
    <div class="l-container-big">
        <div class="g__head login__head has-text-centered">
            <h1 class="g__title">Zaloguj się</h1>
        </div>
        <div class="g__form-wrapper login__form-wrapper">
            <form action="" class="g__form">
                <div class="g__form-row">
                    <label class="g__form-label">Email</label>
                    <input type="email" name="loginEmail" class="g__form-input input" required>
                </div>
                <div class="g__form-row">
                    <label class="g__form-label">Hasło</label>
                    <input type="password" name="loginPassword" class="g__form-input input" required>
                </div>
                <div class="g__form-row g__form-row-submit">
                    <!-- <button class="g__form-btn">Zaloguj</button> -->
                    <a href="../your_dogs/your_dogs.html" class="g__form-btn">Zaloguj</a>
                </div>
            </form>
            <div class="login__register-info has-text-centered">
                Nie masz konta?
                <a href="../register/register.html" class="login__register-info-link">Zarejestruj się</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}