{% extends "base.html" %}
{% block content %}
<section class="c__breadcrumb"></section>
    <section class="s__account-edit">
        <div class="l-container-big">
            <div class="g__head register__head has-text-centered">
                <h1 class="g__title">Reset hasła</h1>
            </div>
            <div class="g__form-wrapper">
                <form method="POST" action="" class="g__form">
                    {% csrf_token %}
                    <div class="g__form-row">
                        <label class="g__form-label">Wpisz swój email poniżej:</label>
                        <label class="g__form-label">(musi być ten sam co podany w profilu)</label>
                        {{ form.email }}
                    <div class="g__form-row g__form-row-submit">
                        <button type="submit" class="g__form-btn">Zmień hasło</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}