& {
    background-color: $main_color;
    position: fixed;
    top: 0;
    left: 0;
    @include z(nav_top);
    width: 100%;
    box-shadow: 0 1px 13px 0px #00000040;
    padding: .5rem 0;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__side {
    &-left {

    }

    &-right {
        display: flex;
        align-items: center;
    }
}

.nav__link-item {
    font-size: 1.15rem;
    font-weight: 700;
    margin-right: 1rem;
}

.nav__account-link-item {
    font-size: 1.15rem;
    font-weight: 700;
    color: $gray_primary;
    position: relative;

    &:not(:last-of-type) {
        margin-right: 1rem;
    }
}

.nav__account-links {
    display: flex;

    @include until($desktop) {
        display: none;
    }
}

.nav__links-box {
    margin-right: 2rem;

    @include until($desktop) {
        display: none;
    }
}

.nav__logo-box {
    max-width: 3.5rem;

    @include until($desktop) {
        max-width: 2rem;
    }
}

.nav__mobile-menu-wrapper {
    @include from($desktop) {
        display: none;
    }
}

.nav__mobile-menu-trigger {
    font-size: 2rem;
    position: relative;
    @include z(hamburger);
}

.nav__hamburger-box {
    $hamburger-padding-x: 0 !default;
    $hamburger-padding-y: 0 !default;
    $hamburger-layer-width: 28px !default;
    $hamburger-layer-height: 5px !default;
    $hamburger-layer-spacing: 5px !default;
    $hamburger-layer-color: black !default;
    $hamburger-layer-border-radius: 5px !default;
    $hamburger-hover-opacity: 0.7 !default;
    $hamburger-hover-transition-duration: 0.15s !default;
    $hamburger-hover-transition-timing-function: linear !default;

    $hamburger-hover-use-filter: false !default;
    $hamburger-hover-filter: opacity(100%) !default;

    @import 'plugins/hamburgers/hamburgers';

    padding: 0;
    // margin-left: 1rem;
    z-index: 1;

    @include from($desktop) {
        display: none;
    }
    .hamburger__mobile {
        display: flex !important;

        &:hover {
            opacity: 1 !important;
            }
    }
}


@include phone-until{

}

@include from($tablet) {

}

@include until($desktop) {

}

@include from($desktop) {

}

@include from($fullhd) {

}