& {
    padding-bottom: 2rem;
}

.patient__intro {
    display: flex;
}

.patient__avatar-wrapper {
    margin-right: 1rem;
}

.patient__photo-box {
   width: 11rem;
   height: 11rem;
}

.patient__data {
    &-row {
        font-size: 1.25rem;
        display: flex;
    }

    &-label {
        font-weight: 700;
        width: 50%;
        padding-right: 1rem;
    }

    &-value {
        width: 50%;
    }
}
@include phone-until{

}

@include from($tablet) {

}

@include until($desktop) {

}

@include from($desktop) {

}

@include from($fullhd) {

}