.l-section{
	width:100%;
}

.container:not(.touch-full-width){
	padding-left: 1rem;
	padding-right: 1rem;

	@include touch{
		max-width: $mobile_container;
	}
}

.l-container-big{
	max-width: 1260px;
	margin: 0px auto;
	padding: 0 2rem;

	@include until($desktop) {
		max-width: 600px;
		padding: 0 1rem;
	}
}

.l-container-small{
	max-width: 1300px;
	margin: 0px auto;
}

.l-container-middle{
	max-width: 1486px;
	margin: 0px auto;
}
// fixed footer
.l-main{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	// background-color:white; //for mmenu
	overflow: hidden;
	background-image: url('../assets/img/honey_layer_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.l-outside-footer{
	flex: 1 0 auto;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
}
// external container
.l-external-container{
    max-width: $external_container_width;
    background-color: $external_container_background;
    margin: 0px auto;
}