.g__title {
  font-size: 3rem;
  font-weight: 700;

  @include until($desktop) {
    font-size: 1.5rem;
  }
}

.g__head {
  margin-bottom: 1.8rem;

  @include until($desktop) {
    margin-bottom: 1rem;
  }
}

.g__form {
  max-width: 24.375rem;
  margin: 0 auto;

  &-wrapper {
    background-color: $gray_light;
    border-radius: 5px;
    max-width: 38rem;
    margin: 0 auto;
    padding: 3rem 1rem;
    padding-bottom: 6rem;

    @include until($desktop) {
      padding: 2rem .5rem;
    }
  }

  &-row {
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  &-row-submit {
    margin-top: 2.7rem;
  }

  &-label {
    font-size: 1.25rem;
    font-weight: 700;
  }

  &-input {
    background-color: $pure_white;
    border: none;
    color: $gray_primary;
    font-size: 0.96875rem;
    padding: .7rem 1rem;
    font-weight: 500;
    height: auto;
    box-shadow: none;
    border: 1px solid $pure_black!important;
    margin-bottom: .1875rem;
    font-family: $font_default;
  }

  &-btn {
    background-color: $main_color;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 4px;
    padding: 0.7rem 1rem;
    text-align: center;
  }
}

.g__avatar {
  &-box {
      width: 9rem;
      height: 9rem;
      border: 1px solid $pure_black;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      margin-bottom: 2rem;
      overflow: hidden;
      position: relative;
      background-color: $pure_white;

      @include until($desktop) {
          width: 5rem;
          height: 5rem;
          margin-bottom: .5rem;
      }
  }

  &-img {
      &-uploaded {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
      }
      &-no-photo {
          
      }
  }
}

.g__btn {
  background-color: $main_color;
  box-shadow: 0 1px 13px 0px #00000040;
  padding: .45rem 1.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  border-radius: 5px;
  min-width: 11.875rem;
}


@include phone-until{
  
}

@include from($tablet) {
  
}

@include until($desktop) {
  
}

@include from($desktop) {
  
}

@include from($fullhd) {
  
}

@keyframes shadow-pulse{
  0% {
    box-shadow: 0 0 0 0px rgba($main_color, 0.3);
  }
  100% {
    box-shadow: 0 0 0 35px rgba($main_color, 0);
  }
}

@keyframes shadow-pulse-white{
  0% {
    box-shadow: 0 0 0 0px rgba($pure_white, 0.5);
  }
  100% {
    box-shadow: 0 0 0 35px rgba($pure_white, 0);
  }
}